[2013-10-01 18:14] automatthew opened #1 "No support for remote refs"
JSCK doesn't pass the official [refRemote](https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/refRemote.json) test suite and [this one test](https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/ref.json#L129) in ref.js.

[2013-10-01 18:20] automatthew opened #2 "No support for `uniqueItems` attribute"
The [official test](https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/uniqueItems.json) for `uniqueItems` is ignored.

[2013-10-01 18:25] automatthew opened #3 "Support for format: "date-time""
Currently ignored because I borrowed regexes from [tdegrunt](https://github.com/tdegrunt/jsonschema), and some of them aren't working.  I haven't tried to troubleshoot yet, so blame me, not him.

[2013-10-01 18:26] automatthew opened #4 "Support for format: "color""
Currently ignored because I borrowed regexes from [tdegrunt](https://github.com/tdegrunt/jsonschema), and some of them aren't working.  I haven't tried to troubleshoot yet, so blame me, not him.

[2013-10-01 18:28] automatthew opened #5 "Support for format: "host-name""
Currently ignored because I borrowed regexes from [tdegrunt](https://github.com/tdegrunt/jsonschema), and some of them aren't working.  I haven't tried to troubleshoot yet, so blame me, not him.

[2013-10-01 18:30] automatthew opened #6 "Ignoring the zero-terminated floats test"
https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/optional/zeroTerminatedFloats.json

[2013-10-01 18:33] automatthew opened #7 "Return useful error report, instead of merely valid: false"

[2013-10-01 18:40] automatthew opened #8 "Attribute "extends" should support a $ref schema"
There's no test in the official suite (bizarrely), and I'm fairly sure I didn't write anything to support it.

[2013-10-01 18:43] automatthew opened #9 "Attribute "id" is silently ignored"
Documentation for [id](http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.27):

[2013-10-01 18:44] automatthew opened #10 "Attribute "$schema" is silently ignored"
Documentation for [$schema](http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.29)

This won't be useful to JSCK until/unless we support multiple drafts.

[2013-10-01 19:47] automatthew opened #11 "Decide what to do about informational attributes (title, description)"
Does a validator care about these at all?  Perhaps they can be useful in providing context for error reports.
- title
- description
- mediaType (not part of core)

[2013-10-01 19:48] automatthew opened #12 "Decide what to do about attribute "default""
Kind of an odd thing to have for a schema validator.  I would assume users of a validator would not expect it to modify the documents.

[2013-10-01 21:01] #8 closed, assigned to nobody

[2013-10-01 21:25] automatthew opened #13 "Devise reasonable benchmarks"
Possibly try running all the official tests.

[2013-10-03 15:54] automatthew opened #14 "Take multiple schemas in constructor"
[code]

May require that schemas declare ids for this case, otherwise there's no way to cross reference.

[2013-10-03 16:02] automatthew opened #15 "Validate by specific schema "id""
yo what you mean something like this?

[code]

Yeah, that's perf.

---

Other implementations do it like this:

[code]

This works because the second argument is the schema used to validate the document.  JSCK doesn't work that way, on purpose.

[2013-10-07 20:07] #9 closed, assigned to nobody

[2013-10-07 20:07] #15 closed, assigned to nobody

[2013-10-14 19:24] #14 closed, assigned to nobody

[2013-10-14 19:29] #12 closed, assigned to nobody

[2014-05-07 21:37] automatthew opened #16 "Explain how to run tests"
Including how to target individual tests from the official suite.

[code]

that uses this file: https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/disallow.json

And the 3 makes it run only this test https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft3/disallow.json#L43-L79

[2014-05-07 21:38] #7 closed, assigned to nobody

[2014-05-08 22:32] #4 closed, assigned to andrewjanssen

[2014-05-08 22:34] automatthew opened #19 "Convert very ugly regexes into "block regular expressions", with comments"
http://coffeescript.org

[2014-05-08 22:41] #5 closed, assigned to andrewjanssen

[2014-05-08 22:50] #3 closed, assigned to andrewjanssen

[2014-05-08 23:01] #16 closed, assigned to nobody

[2014-05-08 23:16] #6 closed, assigned to nobody

[2014-05-08 23:17] #2 closed, assigned to nobody

[2014-05-13 21:43] #10 closed, assigned to nobody

[2014-09-01 20:17] gilesbowkett opened #26 "Sophisticated example for new benchmarks"
Extract a schema from actual production code, e.g. a config file schema, sanitized for NDA purposes and also to function generally as a legit benchmarking example.

[2014-09-09 03:09] socinian opened #27 "Create a set of benchmarks"
Per Matthew from issue #26 "my example closes this ticket, and you can open a new one for a set of benchmarks."

[2014-09-09 03:10] #26 closed, assigned to automatthew

[2014-09-09 20:53] gilesbowkett opened #28 "Convert a rant into a blog post"
specifically, unpack this comment:

`Patchboard is a far more appropriate way [than JSON Hyper Schema] to describe a hyperlinked API`

[2014-09-09 22:00] #13 closed, assigned to nobody

[2014-09-09 22:01] automatthew opened #29 "Investigate npm package "benchmarks""
https://www.npmjs.org/package/benchmark

Almost certain to be less wonky than the one-off thing I wrote.

[2014-09-09 22:43] gilesbowkett opened #30 "support v4 of json schema"

[2014-09-09 22:44] gilesbowkett opened #31 "benchmark against Joi"
related to #27

may depend on #30

[2014-09-09 22:46] gilesbowkett opened #32 "benchmark against tv4"
https://github.com/geraintluff/tv4/

related to #27

may depend on #30

[2014-09-09 22:46] gilesbowkett opened #33 "benchmark against Amanda"
https://github.com/apiaryio/Amanda

related to #27

may depend on #30

[2014-09-09 22:47] gilesbowkett opened #34 "benchmark against js-schema"
https://github.com/molnarg/js-schema

related to #27

may depend on #30

[2014-09-09 22:50] #11 closed, assigned to gilesbowkett

[2014-09-09 22:51] gilesbowkett opened #35 "benchmark against z-schema"
https://github.com/zaggino/z-schema

related to #27

may depend on #30

[2014-09-09 22:52] gilesbowkett opened #36 "benchmark against jayschema"
https://github.com/natesilva/jayschema

related to #27

may depend on #30

[2014-09-09 22:53] gilesbowkett opened #37 "benchmark against json-gate"
https://github.com/oferei/json-gate

related to #27

may depend on #30

[2014-09-09 22:54] gilesbowkett opened #38 "maybe benchmark against chai-json-schema"
not quite the same thing, so it's a judgement call.

https://github.com/Bartvds/chai-json-schema

related to #27

may depend on #30

[2014-09-09 22:56] gilesbowkett opened #39 "update readme for accuracy"
expand things, and brag more

[2014-09-09 22:58] gilesbowkett opened #40 "update jsck.coffee to reflect fixed readme"
depends on #39

[2014-09-09 22:59] gilesbowkett opened #41 "automate jsck.coffee publication"
- put it on S3
- use `publish.coffee`
- automate: updating jsck readme auto-publishes web site
- (probably requires a web hook)

[2014-09-10 17:18] automatthew opened #42 "JSCK does not support minLength and maxLength tests of unicode surrogate pairs"
Test in question:

https://github.com/automatthew/JSON-Schema-Test-Suite/blob/develop/tests/draft3/minLength.json#L27-L30

Explanation of unicode surrogate pairs, needed to pass the test:
https://mathiasbynens.be/notes/javascript-encoding

Example of decoding
https://github.com/bestiejs/punycode.js/blob/221463da/punycode.js#L94-L128

[2014-09-10 17:40] automatthew opened #43 "Add case to draft4 "type" test to outlaw removed behavior"
https://github.com/json-schema/json-schema/wiki/ChangeLog#type

JSCK draft4 passes this test, even though the code is currently identical to draft3.

[2014-09-10 21:41] automatthew opened #44 "Use Travis for CI?"

[2014-09-13 00:33] #30 closed, assigned to automatthew

[2014-11-07 22:12] automatthew opened #45 "test runner should use CLI flags for specifying attribute and individual test"
You can currently exercise limited portions of the official test suite with this sort of invocation:

[code]

Alter to:

[code]

[2014-11-10 15:52] automatthew opened #46 "Benchmark for a schema that uses as many attributes as possible."
Especially:
- additionalProperties
- not
- allOf
- anyOf
- oneOf

[2014-11-10 18:08] #27 closed, assigned to nobody

[2014-11-10 18:11] automatthew opened #47 "Look for untested cases in draft4 support, add tests to suite."

[2014-11-10 18:19] automatthew opened #48 "Document how to add new schemas to benchmarks."

[2014-11-10 18:20] automatthew opened #49 "Update advanced usage examples for draft4"
This pertains to JSCK usage, not JSON Schema usage.

[2014-11-10 19:11] gilesbowkett opened #50 "test possibility of malformed schemas"
the JSON Schema test suite project has its whole test harness work on the idea that you have valid schemae and you test docs against them to see that the validation works properly.

it'd be nice to get a bunch of tests in there for what to do when JSCK encounters a malformed schema.

and, in an ideal world, it'd be rad to get that back to the JSON Schema test suite project, too.

[2014-11-10 21:39] #43 closed, assigned to nobody

[2014-11-10 21:54] automatthew opened #51 "convenience method for checking whether a schema is malformed"
Implement by validating the schema as a document against the definition of the appropriate schema draft.

[2014-11-10 23:20] automatthew opened #52 "Verify that benchmarked libs aren't failing"
When benchmarking another lib using a document that should be valid, check to make sure that the validator actually agrees it is valid.

Otherwise, the the buggy validator might be bailing out early and getting a better score.

[2014-11-10 23:28] automatthew opened #53 "Create separate dirs in benchmark/ for draft3 and draft4"
Some libs we benchmark may support only one or the other.

[2014-11-11 17:30] automatthew opened #54 "Option to disable "format" validation."
https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-7.2

[2014-11-12 00:43] automatthew opened #55 "Review "invalid" tests for missing attributes."
Mostly complete in test/draft4/invalid, but I skipped some of the boring attributes.

docs:
https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5

[2014-11-12 00:43] #50 closed, assigned to nobody

[2014-11-12 15:12] automatthew opened #56 "reference resolution in compile_references ignores some draft4 attributes"
Possibly can fix by simply checking the definition type and ignoring the attribute name.  I think that dispatching on the attr name is a result of the initial implementation.

[2014-11-12 16:54] #56 closed, assigned to automatthew

[2014-11-13 02:46] gilesbowkett opened #60 ""required" is not a reserved word"
because the spec has no reserved words.

tv4 lets the "event" `schema.coffee` in `master` through with no complaints, but JSCK doesn't. per IRC conversation, this might be a JSCK bug.

[2014-11-13 21:41] automatthew opened #62 "Replace rake tasks with something native."

[2014-11-13 23:14] #32 closed, assigned to gilesbowkett

[2014-11-13 23:14] #36 closed, assigned to nobody

[2014-11-19 02:37] #37 closed, assigned to nobody

[2014-11-19 02:37] #35 closed, assigned to nobody

[2014-11-19 02:38] #38 closed, assigned to nobody

[2014-11-19 02:39] #34 closed, assigned to nobody

[2014-11-19 05:28] #33 closed, assigned to nobody

[2014-11-19 16:56] gilesbowkett opened #65 "double-check utc-millisec and URL regex in example schemas"
because Amanda and z-schema both think that both of these are invalid.

if they're both wrong, that's totally cool, but we should be sure.

[2014-11-19 16:57] gilesbowkett opened #66 "refactor benchmarking code"
- `benchmarks/validators.coffee` has a **lot** of repetition at this point.
- add some `index.coffee` files to make running benchmarks more automated, less manual.

[2014-11-19 19:09] #66 closed, assigned to gilesbowkett

[2014-11-19 19:10] #52 closed, assigned to gilesbowkett

[2014-11-19 19:16] #48 closed, assigned to nobody

[2014-11-19 23:27] #65 closed, assigned to automatthew

[2014-11-20 00:26] #46 closed, assigned to automatthew

[2014-11-20 00:33] #53 closed, assigned to nobody

[2014-11-21 00:40] gilesbowkett opened #67 "write up and report json-schema bug"
matthew discovered a bug in json-schema - not JSON Schema, the standard, but json-schema, the Node.js lib. I want to write it up and submit either an issue or a pull request. this is just a reminder.

[2014-11-24 18:36] #60 closed, assigned to automatthew

[2014-11-24 18:40] automatthew opened #68 "Error reports aren't useful when a $ref is involved."
In the case of a $ref, the JSON pointer to the schema+attribute causing the invalidation is incorrect.  The path within the $ref-ed schema is rebased onto the path containing the $ref.

[2014-11-24 19:02] #39 closed, assigned to automatthew

[2014-11-25 18:05] #62 closed, assigned to nobody

[2014-12-01 21:33] #49 closed, assigned to nobody

[2014-12-01 22:40] #47 closed, assigned to automatthew

[2014-12-03 00:47] automatthew opened #69 "Concern when benchmarking tv4 against invalid docs"
https://github.com/geraintluff/tv4#usage-3-multiple-errors

This will be important if/when we start benchmarking documents with errors.

[2014-12-08 20:02] #68 closed, assigned to automatthew

[2014-12-09 15:08] automatthew opened #70 "Schema compilation fails when a property is named "id""
[code]

[2014-12-09 17:30] #70 closed, assigned to nobody

[2014-12-19 03:20] #40 closed, assigned to gilesbowkett

[2014-12-22 22:52] gilesbowkett opened #71 "have benchmarks optionally output a CSV"
would be convenient

[2015-01-12 20:22] gilesbowkett commented on #41
static site has dead link.

[2015-01-13 00:32] gilesbowkett commented on #41
dead link fixed.

[2015-01-18 10:38] Muscula opened #72 "You should include the module is-my-json-valid by mafintosh, It's the fastest"
is-my-json-valid is the fastest JSON-schema validator around.
It blows the competition out of the water in speed.
There is a blog post about it here:
http://cosmicrealms.com/blog/2014/08/29/benchmark-of-node-dot-js-json-validation-modules-part-3/

[2015-01-18 10:39] Muscula commented on #72
opps, wrong repo. Should have been on the benchmark repo

[2015-01-18 18:03] automatthew commented on #72
If the validator doesn't support the full spec, it is not a JSON Schema validator.  I can write a very fast validator that doesn't support all of JSON Schema:

[code]

That's a _reductio ad absurdum_, obviously.  But the point should be clear.  If a validator doesn't reject documents that are invalid according to the JSON Schema standard, there can be no valid (pun intended) benchmarking of it in

[2015-01-18 18:05] automatthew commented on #72
I do want to review is-my-json-valid, though.  And we should add to the benchmarks a check that the tested libraries can actually detect invalid documents.

[2015-01-18 18:33] Muscula commented on #72
Actually I think it does the spec. 

—
Sent from Mailbox

On Sun, Jan 18, 2015 at 7:05 PM, Matthew King <notifications@github.com>
wrote:

[2015-01-18 21:55] mafintosh commented on #72
is-my-json-valid should support all of schema v4 (except for refRemote, ref, which this validator doesn't seem to support either)

[2015-01-19 06:06] Muscula commented on #72
It will be interesting to see how you handle this. You have a chance to really shine for the open source community.

[2015-01-20 20:43] automatthew commented on #72
Good deal.  No, JSCK doesn't do refRemote yet.

[2015-01-20 21:05] automatthew commented on #72
@mafintosh, I'm seeing some indications that is-my-json-valid does not, in fact, support all of JSON Schema draft 4.  Feel free to email me if you want to discuss this in private.

[2015-01-20 21:11] mafintosh commented on #72
@automatthew we can do it in public. which parts are missing?

[2015-01-20 21:21] automatthew commented on #72
I don't see where, for instance, ["multipleOf"](https://github.com/json-schema/JSON-Schema-Test-Suite/blob/develop/tests/draft4/multipleOf.json) is implemented.

Following that line of inquiry, I changed the value of that keyword in [your test fixture](https://github.com/mafintosh/is-my-json-valid/blob/master/test/fixtures/cosmic.js#L77) to something that should cause failures for both the valid a

[2015-01-21 22:05] gilesbowkett commented on #72
sorry, we're going to pass on this. we can give you a shout-out in the readme or something.

is-my-json-valid is very fast but it doesn't seem to properly support the spec.

lots more detail here: https://www.pandastrike.com/posts/20150121-the-fast-and-the-spurious

[2015-01-21 23:45] automatthew commented on #72
I found it very interesting.

[2015-01-22 00:18] mafintosh commented on #72
Didn't know there was a json-schema test-suite. I'll make is-my-json-valid pass that. The orderly thing isn't used for anything internally (or has anything to do with the performance). When I researched json-schema initially i just liked the syntax but since I don't really use it anymore I'll probably remove it at some point.

[2015-01-22 00:27] automatthew commented on #72
You may also find these documents helpful:

http://tools.ietf.org/html/draft-zyp-json-schema-04

http://tools.ietf.org/html/draft-fge-json-schema-validation-00

[2015-01-22 01:28] gilesbowkett commented on #72
I took out most of the stuff about Orderly. Wasn't quite sure how that worked anyway. The good news is every time I tried it, I got `[object Object]` from `toString()`, so `index.js` was probably falling through to the `catch` every time. So everything I said about Orderly may have been irrelevant. The bad news is I got this result while trying to get is-my-json-valid to tell me that an invalid do

[2015-01-22 09:25] mafintosh commented on #72
@gilesbowkett @automatthew  is-my-json-valid 2.0.0 now passes the entire JSONSchema draft4 test suite (with exception of remote refs and multibyte unicode string with min/max length)

Running your benchmark yields the following result

[code]

is-my-json-valid is still consistently ~5x faster than JSCK

[2015-01-22 11:04] Muscula commented on #72
It still is :-)

[2015-01-22 18:43] mafintosh commented on #1
What if we created a `inlineRemoteRefs` module that was async and just inlined `remoteRef` definitions in your schema? That could be used by all schema engines and would mean that we wouldn't have to support a weird async interface

[code]

[2015-01-22 19:47] automatthew commented on #1
That's probably the best way to add it non-invasively.

[2015-01-23 20:26] gilesbowkett commented on #72
reopened because https://github.com/pandastrike/jsck/pull/74, and well done @mafintosh.

just FYI, the pandastrike.com blog post about this will probably get updated accordingly.

[2015-01-24 16:38] mafintosh commented on #72
@gilesbowkett cool! looking forward to reading it

[2015-01-25 18:11] mctep opened #76 "Include mc-schema in bechmarks, It's faster"
Hi! Can I take part in the competition https://github.com/pandastrike/jsck/issues/72? :-)

https://github.com/mctep/mc-schema

It passes all tests from https://github.com/json-schema/JSON-Schema-Test-Suite except of:
[code]

[2015-01-25 18:22] mctep commented on #76
Forget it. I found some problems :-)

[2015-01-25 18:22] #76 closed

[2015-01-25 18:37] mctep commented on #76
Ok. I can suggest that you use the same schema objects between tests in bencmarks. So modules cans to affect tests between modules like (z-schema). May be you should cloning schema object before setub lib?

[2015-01-25 20:17] automatthew commented on #76
Yes, I think this would be a good prophylactic measure

[2015-01-26 17:47] gilesbowkett commented on #76
In an ideal world, I wouldn't mind breaking out the benchmarks into their own repo. As it is, we can make tickets for these suggestions if need be.

[2015-01-26 17:49] gilesbowkett commented on #72
here you go: https://www.pandastrike.com/posts/20150123-congrats-imjv

Still got to add an update to the pandastrike.com post about IMJV, but my personal blog post was updated with a link.

[2015-01-26 21:58] mctep commented on #76
Of course it is up to your up to deside.
I have noticed that you have comments like:
[code]

As for the subject of the issue `is-my-json-valid` is faster than `mc-schema` according to your benchmarks. So I closed it.

[2015-01-26 23:03] automatthew commented on #76
@mctep

I don't want to exclude any reasonable project, but I can't include validators that say a valid document is invalid.  Now that we have (json-schema-tests](https://www.npmjs.com/package/json-schema-tests), we can better assess problems with other validators and give the authors information on where they're failing.

[2015-01-26 23:06] automatthew commented on #76
Mere speed isn't the only consideration.  There are some features that I need in a validator that I would be willing to sacrifice performance to have.   I'd like to include your lib in the benchmarks whether or not it's the front-runner.

[2015-01-27 00:01] mctep commented on #76
It's a really great idea. I'will keep an eye on. Can I ask you some questions by email about this?

[2015-01-27 00:04] automatthew commented on #76
Yes.  My email's in my GitHub profile.

[2015-01-28 18:29] automatthew opened #79 "Document the task system."
e.g.

    coffee tasks/build/docs.coffee

[2015-01-28 18:42] gilesbowkett opened #80 "update readme/docs"
solves the real problem in #78.

work begun in branch `readme-update`, but needs to be completed. (fix for #78 merged to `master`.)

running `coffee tasks/build/docs.coffee` has a couple minor issues:

* degrades "advanced usage examples" link to draft 3
* undocumented pfm dependency
* adds commented-out code to `doc/tests.coffee`

[2015-01-29 00:13] gilesbowkett commented on #72
resolved in 5dba8432421c581a5798cc5c81643a8d2ada7286

[2015-01-29 00:13] #72 closed

[2015-01-30 19:37] gilesbowkett opened #81 "check into themis"
@Muscula tried to do a PR using the validator library https://github.com/playlyfe/themis with our benchmarks, but [ran into trouble](https://github.com/pandastrike/jsck/pull/78#issuecomment-72257036).

[code]

[2015-01-30 19:58] Muscula commented on #81
This is the code I used to add themis. That's how themis runs itself in its own benchmarks
[code]

[2015-01-30 21:33] gilesbowkett commented on #81
I used similar code, and encountered similar errors.

The errors seem to come from an expectation in `themis` that every schema will specify an `id` attribute at its top level. [This is not required in the spec](http://json-schema.org/latest/json-schema-core.html#anchor27).

I also checked `themis` against the official JSON Schema Test Suite using [a Node.js harness which Panda Strike created last

[2015-01-30 21:46] automatthew commented on #81
+1 wontfix.

[2015-01-30 22:16] Muscula commented on #81
I had no problem getting themis to pass the official test suite. If you use
[code]
It works without id's just fine. It's the `'0'` that does the trick.

For reference here is the result I get when running themis against the official testsuite:
https://github.com/Muscula/json-schema-benchmark/blob/master/reports/themis.md

[2015-01-30 22:32] gilesbowkett commented on #81
well, go ahead and post a gist.

[2015-01-31 10:21] Muscula commented on #81
Well there is one test failing for themis:

`change resolution scope, changed scope ref invalid`

`Expected result: false but validator returned: "Object #<Object> has no method '0'"``

This is probably what disqualifies themis from your benchmarks.

[2015-01-31 14:26] atrniv commented on #81
The latest version of themis `1.1.5` should pass the jsck benchmarks. However I believe the benchmarks require some improvement. I got widely varying results sometimes while running them. I would suggest using `benchmarkjs`. It provide much more accurate statistics.

To illustrate my point here's a sample of 5 runs of the benchmark with jsck, imjv and themis

Run1
====

## Benchmarks for Draft 4

[2015-01-31 17:34] gilesbowkett commented on #81
we already have an issue to use `benchmark`, pull requests welcome: https://github.com/pandastrike/jsck/issues/29

anyway, congrats. this looks nice and fast. although this result happened for me just now:

[code]

obviously this is another good reason to look at making https://github.com/pandastrike/jsck/issues/29 happen! it could just be a fluke. but _**if**_ it happens consistently and isn't ju

[2015-01-31 18:15] Muscula commented on #81
The bug that was causing themis to not complete in your benchmarks:
`change resolution scope, changed scope ref invalid`

`Expected result: false but validator returned: "Object #<Object> has no method '0'"``

Was fixed.

When I instantiate themis with a schema I use a try catch, and fail all the tests with that schema if it throws. So basically like in #82, but with a try-catch.

Be sure to npm u

[2015-01-31 18:23] atrniv commented on #81
@Muscula the reason for the `0` weirdness is because the compiled validator that themis generates is not a validator for a single schema but possibly for multiple schemas which were all compiled together. Its sorta inspired from `JSV` validator. In this scenario we need some way to specify the id of the schema to validate against.
In most actual use cases your schemas would carry an id to identify

[2015-01-31 18:26] atrniv commented on #81
@gilesbowkett yes I also got quite a few runs when themis minimal was actually slower than themis default. I even got a run where IMJV was 2 times slower than themis minimal lol. However the benchmarks I use for themis itself uses `benchmarkjs` and over there the performance is pretty consistent.

You can find it here - `https://cdn.rawgit.com/playlyfe/themis/master/benchmark/results.html`

[2015-01-31 18:47] gilesbowkett commented on #81
@atrniv those look nice and thorough! I might dig into that code to see how you're using `benchmarkjs`.

[2015-01-31 18:51] atrniv commented on #81
@gilesbowkett I actually borrowed it from the benchmarks by ZSchema 3 by @zaggino. The credit goes to him. The only thing lacking in it is more practical benchmarks. Right now the only useful benchmarks are the basicObject and the AdvancedObject benchmarks. I'll probably be adding in the benchmarks from jsck into it as well, since they help portray a more rounded perspective of how the validators

[2015-01-31 21:41] gilesbowkett commented on #81
@atrniv thanks! I didn't look at your implementation in detail yet, in fact it could be a week before I can dig into this with any real seriousness. but, fwiw, our benchmarks use five different schemas – two for draft 3 and three for draft 4. combine that with better statistics from `benchmark` and we could have something pretty comprehensive.

[2015-02-01 17:43] gilesbowkett commented on #29
There's been a lot of discussion in this repo and the related project `json-schema-benchmark`. Really my only [takeaway](https://github.com/pandastrike/jsck/issues/81)#issuecomment-72319685) from the whole thing is that this issue and PR #82 should be prioritized.

[2015-02-08 15:18] moll opened #84 "Explicitly allowing undefined"
Hey,

I know the JSON schema spec has no reference to `undefined` as a valid type, but I've found it a very useful concept besides `null`. How does one allow `undefined` values with Jsck? With Themis I've found I can use the non-standard `{type: ["undefined", "string"]}` schema nicely.

Thanks!

[2015-02-08 16:09] automatthew commented on #84
Could you provide an example schema, a valid, and and invalid document?

In general, it is quite easy to allow a property to be undefined by merely refraining from making it be "required".

[2015-02-08 16:23] moll commented on #84
Sure.

Schema with the proposed `undefined` type:
[code]

Valid documents:
[code]

Invalid document:
[code]

[2015-02-08 21:04] automatthew commented on #84
I'm inclined to say that one should never distinguish

[code]

from

[code]

`null` is different from `undefined` for a reason.

[2015-02-08 21:07] automatthew commented on #84
This preference is reflected in the JS behavior:

[code]

Returns

[code]

Counterpoint:  I have said to several people before that "JSON Schema" is a misnomer.   That it might be better to call it "ON Schema", because you can express the schemas and documents in 'most any form.

[2015-02-08 21:16] automatthew commented on #84
Counter-counterpoint:  The ability to treat `undefined` as a value is one of the Bad Parts of Javascript.

[2015-02-08 21:20] automatthew commented on #84
Fixing JSCK to work the way you ask, @moll, is a one-liner that should not affect performance much.

in the `test_type` function, I would just add this as the first line:

[code]

But I would really like to discourage the use of `undefined

[2015-02-08 22:44] moll commented on #84
Great conversation with self you got going there. :-)

I've actually found convenient uses for the `undefined` and `null` duo — the former can be used to explicitly signal a known property with an _unknown_ value and the latter a known property with an unset value. Most of the time it's irrelevant semiotics, but I'm using them to indicate lazy loaded or uninitialized properties.

I'm with you that

[2015-02-08 22:47] automatthew commented on #84
I'm looking for a reasonable alternative to that change, but will probably go with it tomorrow.

[2015-02-08 22:52] automatthew commented on #84
I wish to take it a little further than that, I suppose.  So maybe it's not even "ON Schema" I want, it's "O Schema".   Possibly "Reductionist Schema".

I've used JSON Schemas in JavaScript, CoffeeScript, Ruby, and Python, but never expressed them as actual JSON.

[2015-02-09 16:44] automatthew commented on #84
BTW @moll  When I said "Fixing JSCK to work the way you ask", I was inaccurate.

I won't support "undefined" as a primitive type, but what I will do, and what is arguably the right option for all validators, is to have JSCK treat explicit `undefined` values in the same way it does actual undefinedness.

[2015-02-09 19:09] gilesbowkett commented on #84
fwiw, I saw a Douglas Crockford talk last week in San Francisco where he said that he had experimented with abandoning `null` completely, in favor of `undefined`, as a kind of "Good Parts Evolved." I think his main impetus for doing so was that `typeof null` returns `"object"`. anyway, he declared the experiment a success, and basically considers `null` part of JavaScript's "bad parts" now.

howev

[2015-02-09 19:11] automatthew commented on #84
@gilesbowkett

I don't want to add "undefined" as one of the primitive type names usable as the value of the JSON Schema "type" keyword.

I do want to treat undefined-as-a-value in the same way I treat an, er, undefined property.

[2015-02-09 19:11] moll commented on #84
Ah. That, I don't think is right in all cases either.

A set, but `undefined` property can cause havoc when not expected (in pseudo-API):
[code]

You're going to end up with `person.name` being the invalid `undefined`, rather than an empty string.
When using prototypical inheritance there's also a difference between a set `undefined` property and one not set at all. So it's not that clear cut.

Ex

[2015-02-09 19:14] automatthew commented on #84
`var input = {name: undefined, age: 42}`

Basically, I object to the use of undefined in a literal in any situation, ever.

[2015-02-09 19:15] moll commented on #84
Perfectly fine objection. But don't forget that `input` is merely a placeholder for input out of your control. ;-)

[2015-02-09 19:17] automatthew commented on #84
Yeah, I get that sometimes you are dealing with bad input.  But that's no reason to propagate bad design decisions, like settable `undefined`.

When you're dealing with a library that uses the bad parts of Javascript, I think it is reasonable to provide your own prophylactic layer, rather than expecting packages like JSCK to handle bad things.

[2015-02-09 19:20] moll commented on #84
What's a settable `undefined`? Ending up with `undefined` properties is a piece of cake. That's why validation is useful — to ensure validity.

[code]

[2015-02-09 19:24] moll commented on #84
If you don't want the `undefined` type specification in the core Jsck, that's fine.
I do find it useful, so is there a way I could subclass Jsck (rather than fork) to add it for when I need it? Override the `isPrimitive` function perhaps? Thanks!

[2015-02-09 19:44] automatthew commented on #84
@moll  I suspect the majority of cases can be handled by the change I proposed.

Would you be able to provide me with some use cases you think I can't handle?

[2015-02-09 19:45] gilesbowkett commented on #84
So the major problem with this feature request, from my point of view, is that JSON Schema has a very useful universality to it. It's not unusual to build an app in one language, and then rebuild small pieces of it in a new language, with an emphasis on speed. The canonical example would probably be refactoring a monorail (monolithic Rails app) out into services, with those services written in fas

[2015-02-09 20:02] dyoder commented on #84
This seems to be to a request to allow extending the validator, which seems useful and interesting. It satisfies our usual maxim of No Hermetic Abstractions. And it's a scenario where using functions rather than code generation is an advantage. It intuitively seems easier to override or add a function that performs a given test than to do the same thing for a function that generates code.

I _thin

[2015-02-09 20:03] moll commented on #84
Indeed, that change will solve a particular case I have (because I was precisely after allowing `undefined`), but create validation holes elsewhere that I described above that I'm not comfortable with.

I don't mind the core ignoring that, hence my question about subclassing. ;-)

[2015-02-09 20:09] automatthew commented on #84
Extensibility and/or subclassing is definitely a good thing.  I'll see what I can do about making JSCK easy to extend.

[2015-02-09 20:12] dyoder commented on #84
@automatthew given the mixin-based approach to supporting drafts…could we do the same thing for extending...just allow for additional mixins?

[2015-02-09 20:14] automatthew commented on #84
@dyoder  probably that would work.  I need to check though, to make sure that there aren't unintended consequences.  And that there isn't a better way.

While I don't want JSCK to add additional primitives, I have no objection to giving JSCK the ability to allow users to add additional primitives.

[2015-02-09 20:25] dyoder commented on #84
@automatthew without having reflected a whole lot on the alternatives, i think mixins would be a fantastic way to do this. for two reasons: (a) you're already doing it that way to handle variations between drafts; and (b) it would require adding only an optional argument to creating validators.

Also, I just love mixins. That part is sort of irrational and has to do with having learned OOP via a d

[2015-02-13 19:38] gilesbowkett commented on #81
@Muscula @atrniv so I'm still seeing errors all over the place.

I've tried it a few different ways:

* `validator(data)`
* `validator(data, '#');`
* `validator(data, '#/');`
* `validator(data, '0');`
* `validator(data, 0);`

obviously I'm missing something about how to work with Themis. help me out here.

[2015-02-21 00:35] gilesbowkett commented on #81
ok, got this working. will now handle https://github.com/pandastrike/jsck/pull/82. may have to create new branch for it, though, commits to `master` make me OCD.

[2015-02-21 00:35] #81 closed

[2015-04-02 16:01] cxreg commented on #84
I would like if at least JSCK allowed non-explicit undefined values from failng validation.  I believe this is what @automatthew intended in https://github.com/pandastrike/jsck/issues/84#issuecomment-73432558.  Even if the debate about the semantics around explicit undefined continues, that would be a good improvement

[2015-04-05 02:37] cxreg commented on #84
I've been running with that patch, and it seems to work well, however another change was required.  If a field defined as enum is not defined, a similar change is needed at https://github.com/pandastrike/jsck/blob/master/src/common/comparison.coffee#L10

[2015-04-10 16:43] automatthew commented on #84
I'll be reviewing this today.  Apologies for the delays.

[2015-04-10 17:15] #84 closed

[2015-04-10 17:17] automatthew commented on #80
Fixed.  Edits to the README should be made to the [PFM source](https://github.com/pandastrike/jsck/blob/master/doc/README.pfm.md)

[2015-05-09 22:09] tvjg opened #89 "Is the browser a supported platform?"
The README says:

Is jsck only intending to target Node.js? Has anyone tried running it in the browser? jsck is quite a nice looking library -- it seems a shame to limit it to the server.

[2015-05-09 22:17] automatthew commented on #89
It should be bundleable with browserify or similar.  I'll look into getting the tests running in browsers.

[2015-05-09 22:47] automatthew commented on #89
@tvjg  Proof of concept app here:

https://github.com/pandastrike/jsck/tree/89-browser-support/test/arkify

It uses another Panda Strike project, [Ark](https://github.com/pandastrike/ark), to bundle an application that uses JSCK.

Given the lack of external dependencies, it should be simple to use browserify to produce a bundle that can be used in more traditional ways.

[2015-05-11 22:14] gilesbowkett opened #90 "benchmark documents with errors"
this was implied in #69 and seems like a good idea.

[2015-05-16 19:27] tvjg commented on #89
Thanks you for the example -- I'll dig into it more later. If I understand correctly then, any tool like browserify or ark that handles shimming the node stdlib should do fine, right?

[2015-05-16 19:27] #89 closed

[2015-05-17 04:45] automatthew commented on #89
Yes, but even better, it looks like we don't even use any node stdlib:

[code]

Probably we should commit to that, so that bundling for the browser only demands support for CommonJS requires.

[2015-06-23 22:21] SciencePiggy opened #91 "npm update"
Any ETA on an npm update? I'm currently running with a monkey patch for #86

Cheers!

[2015-06-23 22:33] automatthew commented on #91
Well, crikey.  I'll see if I can do it right now.

[2015-06-23 22:39] automatthew commented on #91
Published 0.2.5, @SciencePiggy

[2015-06-23 22:39] #91 closed

[2015-06-24 15:14] SciencePiggy commented on #91
Thanks kindly

[2015-08-05 05:47] tauren commented on #1
:-1: :+1: I'm mixed on this, but mostly negative.

I suppose it depends on the use case, but it seems that adding support to automatically and recursively make http requests from this library may unnecessarily add complexity. I'm not just talking about requiring an async interface, but also the code in the library will grow and potentially be more fragile.

For my needs, I know in advance all of t

[2015-08-12 20:40] gilesbowkett commented on #28
didn't happen, triaging ancient Issue

[2015-08-12 20:40] #28 closed

[2015-08-12 20:55] gilesbowkett commented on #19
going to call this too low-priority to happen, for now

[2015-08-12 20:55] #19 closed

[2015-08-12 20:56] gilesbowkett commented on #31
enjoi is way too simplistic, and Joi's format is so far away from JSON Schema that this would be a silly thing to do.

[2015-08-12 20:56] #31 closed

[2015-08-12 20:58] gilesbowkett commented on #42
every validator out there neglects to support this also. IIRC consensus was it's an impractical requirement.

[2015-08-12 20:58] #42 closed

[2015-08-12 20:58] gilesbowkett commented on #44
no

[2015-08-12 20:58] #44 closed

[2015-08-12 20:59] gilesbowkett commented on #54
sounds like a good idea, but I'm closing it because the Issue's been open a long time.

[2015-08-12 20:59] #54 closed

[2015-08-12 20:59] gilesbowkett commented on #67
I did this, IIRC

[2015-08-12 20:59] #67 closed

[2015-08-12 21:00] #69 closed

[2015-08-12 21:01] #71 closed

[2015-08-12 21:01] #80 closed

[2015-08-12 21:01] gilesbowkett commented on #90
we can revisit this later

[2015-08-12 21:01] #90 closed

[2015-08-12 21:34] gilesbowkett commented on #79
I think we should not use `pfm` in this. First, it causes a weird extra dependency, which (obviously) is not yet documented. As a result, whenever we get a PR, it edits `README.md` in ignorance of the existence of `docs/README.pfm.md`.

Second, I've seen lots of places where that went stale. Just now I tried to rev it back up again, and got this:

[code]

That traces to `doc/tests.pfm.md`:

[code]

[2015-08-25 18:04] automatthew commented on #89
Added task to use cjsify for browser build.  Haven't tested the result yet.

https://github.com/pandastrike/jsck/blob/master/tasks/build/browser.coffee

[2015-09-28 19:09] SciencePiggy opened #94 "TypeError with Nested Schema, Required, and Nulls"
I ran into an issue while validating with nested schemas. The below code executes and returns an invalid result (if my understanding is correct, [object Object] !== [object Null]).

However, if I add a required tag to my userSettingsSchema ...
`"required": ["language"],`
... then the code results in ...
`TypeError: Cannot read property 'language' of null`

I'm assuming both scenarios should result

[2015-09-28 19:10] automatthew commented on #94
No, if you have to do that, then JSCK has a bug.

[2015-09-28 19:29] automatthew commented on #94
With node 0.12.7, using your script against master, I get this output:

[code]

[2015-09-28 19:38] SciencePiggy commented on #94
With the langage required tag? (The script was the working example).

For reference, I'm running node 0.12.1

[2015-09-28 19:39] automatthew commented on #94
I reproduced the problem you saw when setting 'required'.  Bug fix shortly.

I can't reproduce the other problem you mentioned, yet.

[2015-09-28 19:40] automatthew commented on #94
The exception was happening because the implementation of 'required' in draft4 was not checking to see if the input document was an object.

https://github.com/pandastrike/jsck/commit/2741e2528c36f3d3ffb31daf3b173aef0db6643f#diff-c86eed14718d02722159b14e6d7813d3L16

[2015-09-28 19:41] automatthew commented on #94
Here's the test I adapted from your script:

https://github.com/pandastrike/jsck/blob/94-bug/test/draft4/adhoc.coffee#L35-L57

It passes for me on that branch.

[2015-09-28 19:44] SciencePiggy commented on #94
I think there's only the one issue, unless I'm wrong on the expected result of this test.

[2015-09-28 19:56] automatthew commented on #94
Ah.  I misunderstood your report.

[2015-09-28 20:03] SciencePiggy commented on #94
My bad. Too many re-writes :oP

I've monkey-patched my copy and so-far-so-good. I'll look forward to the npm update. Thanks for the (ridiculously fast) response!

[2015-09-28 21:47] automatthew commented on #94
published version 0.2.9

[2015-09-28 21:48] automatthew commented on #94
You're welcome.  You happened to catch me at exactly the right time.

[2015-10-05 20:47] #94 closed

[2015-10-16 16:51] aaronshaf opened #95 "Use "plain" JS for README examples"
Since the rest of us don't use CoffeeScript :)

[2015-10-16 20:13] automatthew commented on #95
I would accept a PR with JS examples underneath the CoffeeScript.

[2015-10-22 21:06] braco opened #96 "Feature request: line numbers on error"
Would be nice to use as a linter.

[2015-10-22 21:09] automatthew commented on #96
Meaning errors caused by bugs in JSCK, or errors in the validated document, or ...?

[2015-10-22 21:13] automatthew commented on #96
JSCK doesn't deal directly with strings containing JSON; it expects the schemas and documents to be JavaScript objects.  I typically use either CoffeeScript or YAML to represent my schemas and documents, providing them to JSCK only after parsing.

Line numbers for the inputs are thus impossible.  What is possible, and is actually better, is using JSON Pointers in validation error explanations to p

[2015-10-31 19:01] cxreg opened #97 "Regression on ref to empty schema crashes JSCK"
Starting in 0.2.8 this throws a fatal error.  It only appears to happen if you have a reference to an empty schema.   An empty schema by itself is fine as are refs in other situations.

    var jsck = require("jsck").draft4;
    var validator = new jsck({
        "type": "object",
        "properties": { "foo": { "$ref": "#/definitions/foo" } },
        "definitions": { "foo": {} }
    });
    var

[2015-11-01 00:10] automatthew commented on #97
Thanks.  Will investigate as soon as I can.

[2015-11-01 19:53] cxreg opened #98 "Speculative error reporting for anyOf / oneOf"
Would you be interested in optional behavior that allows JSCK to provide more specific errors when anyOf or oneOf fails?  I have a proof of concept patch that accomplishes this.  The basic idea is to simply increment a counter when a test is executed.  The schema with the highest count wins.  In practice this means that the schema that was the closest match reports its errors.

The motivation for

[2015-11-01 20:51] cxreg commented on #98
It looks like the constructor is variadic (I'm not sure why I'd want this) but it will probably interfere with my proposed interface.  Possibly another way of doing this would be a method on the object, preferably that returns the object itself so it can be done in-line

    var validator = new JSCK(schema).options({ "anyOfClosestMatch": true });

[2015-11-01 20:58] automatthew commented on #98
Very interested.  Also in any other improvements you think would better the error reports.

[2015-11-01 21:00] automatthew commented on #98
Allowing for multiple schema documents was the workaround for not having remote refs.  Variadic was possibly a bad idea.

[2015-11-05 21:52] cxreg commented on #97
I've dived into this a little bit.  I'm not 100% sure why the scoping changes around uri exposed this, but what is happening is that the empty schema fails is_schema because none of the properties are present.  That causes it never to call compile() on this schema, and thus the _test method is never assigned.

It seems like is_schema should not be duck typing, since contextually we should know whe

[2015-11-09 16:32] #96 closed

[2015-11-09 16:52] automatthew commented on #97
I think I added `is_schema` so JSCK could handle structural nesting.  E.g.

[code]

[2015-11-09 17:01] automatthew commented on #97
Maybe.  That would produce correct behavior for this case.  I think the underlying problem is in the `compile_definitions` logic.  It is plausible that an object in the schema document might be both a valid schema and a container of other schemas.  Bad form to do so, in my opinion, but possibly something JSCK should support.

Here's my first thought on how to fix it:

[code]

[2015-11-09 17:04] automatthew commented on #97
`not_schema_keyword`

Clever.

[2015-11-09 17:24] automatthew commented on #97
@cxreg, this branch appears to fix the original problem, while also somewhat rigorizing the approach.

https://github.com/pandastrike/jsck/tree/97-ref-to-empty

[2015-11-09 18:39] cxreg commented on #97
Interesting.  I think you still need the @test_type "object" conditionalizing @is_schema so as not to throw TypeError on numbers, strings, null, etc?  Would that only happen on a malformed schema?  Still probably bad.

This does look like a better approach if you are happy with the results.

[2015-11-09 19:27] automatthew commented on #97
I moved the type test to the top of `compile_definitions`, to simplify the logic there, leaving `is_schema` as a function with implied type of object.  Perhaps I should inline it.

[2016-02-08 12:39] MrTrick opened #101 "Deviation from draft4 spec - additionalItems / additionalProperties is object or boolean, not object or false."
I'm trying use the JSON-API schema inside JSCK. Schema here: http://jsonapi.org/schema

However, when I `new JSCK(json_api_schema)` it throws:
_Error: The 'additionalProperties' attribute must be an object or false_

According to the schema docs `"additionalProperties": true` is valid
http://json-schema.org/latest/json-schema-validation.html#anchor64

Sorry no PR yet - not so good with coffeescrip

[2016-02-11 10:29] Nonemoticoner opened #102 "schema-inspector is missing"
I believe this one should be benchmarked as well.

[schema-inspector](https://github.com/Atinux/schema-inspector)

[2017-07-19 16:05] jasonkarns commented on #98
Just popping in to note that [jsonschema](https://github.com/tdegrunt/jsonschema) has a similar feature that can be enabled by passing the option `nestedErrors: true`.

https://github.com/tdegrunt/jsonschema#results

The "simple" error message leverages the `title` of the subschemas to state that the object in question doesn't not match `anyOf`/`oneOf` the subschemas (listed by their `title`).

Wh

[2017-07-19 16:25] jasonkarns opened #103 "Error thrown during validation if schema contains an `id`"
Sample taken directly from the Readme, with an `id` added to the schema:

[code]

This throws the error:
[code]

Based on my debugging, this occurs because a schema's `id` is used as the key for that schema. If no id is provided, then the schema is indexed with `#` as the key. https://github.com/pandastrike/jsck/blob/fdc93ac2bcecc8bf10463b5b51569fa7219620aa/src/validator.coffee#L78-L80

Then when

[2017-07-19 17:34] automatthew commented on #103
Thanks for the report.  I'll see what I can do.

[2017-07-21 19:30] automatthew commented on #103
@jasonkarns, this is a usage issue (which may also indicate a design problem).  I've modified your example to make it work:

[code]

An instance of JSCK may contain numerous schemas, all with different `id`s.  The README example you worked with demonstrates the simple, single-schema usage.  When there may be more than one schema involved, the current design requires that you specify which schema y

[2017-07-21 19:51] automatthew commented on #98
TODO: write some tests for the `options.closestMatch` behavior

[2017-07-21 20:38] dyoder commented on #103
@automatthew  can we improve the docs on that?

[2017-07-21 20:50] automatthew commented on #103
We can and should.

[2017-07-21 20:56] dyoder commented on #103
@automatthew or if we don't see a URI, can we simply assume there's only one `id` and use that?

[2017-07-21 20:58] automatthew commented on #103
Yeah, maybe with this logic:

* if constructed with only one schema
  * if no `id`: the JSCK instance is a singletary (neologisms ftw)
  * if it has an `id`: current behavior
* if constructed with multiple schemas
  * all schemas must have an id

[2017-07-21 21:14] dyoder opened #104 "Handle single schema transparently"
See [suggestion](https://github.com/pandastrike/jsck/issues/103#issuecomment-317110544) and [solution](https://github.com/pandastrike/jsck/issues/103#issuecomment-317111040).

Also improve error reporting on this so that throws a description exception.

[2017-07-21 21:15] dyoder commented on #103
https://github.com/pandastrike/jsck/issues/104

[2017-07-22 13:40] jasonkarns commented on #103
Part of this is still throwing me for a loop. I understand current behavior, but note in my example I'm only constructing the validator with a single schema. Presence of an ID in the schema does not change the fact that the validator still only has a single schema and should operate as such.

Basically, current behavior is saying that the _content_ of a schema will alter the acceptable usage of th

[2017-07-22 15:18] automatthew commented on #103
I agree.  I'll be altering it per my comment just above.

Another option I considered is having two different validation classes: one for the case where you are using a single schema, and another for when you want the validator to have access to several.  That is arguably more semantically accurate, but probably even more confusing.

For most of our use cases (and it seems also for yours) we don't

[2017-12-02 08:47] dyoder opened #105 "pretty print errors"
Right now, JSCK produces errors like this:

[code]
We should be able to add a pretty printing capability for these errors.

[2017-12-02 21:36] automatthew commented on #105
YAML!

[2017-12-04 14:32] automatthew commented on #105
What would the API for this look like?  Current usage:

[code]

Should the `errors` thing be an object with a prettyPrint method?

[2018-02-18 23:36] handrews opened #106 "Support for newer drafts?"
The current draft is draft-07, which is a minor update of the more significant draft-06.

[Guide for core and validation](http://json-schema.org/draft-07/json-schema-release-notes.html)
[Guide for hyper-schema](http://json-schema.org/draft-07/json-hyper-schema-release-notes.html)

Note that implementations that do not support **at least draft-06** will soon be moved to an "obsolete" section of the

[2018-02-19 17:59] automatthew commented on #106
Thanks for the heads-up.  The Heraclitean river moves fast.

[2018-03-11 20:22] handrews commented on #106
@automatthew For now I'm keeping any project that's being actively maintained on the featured page.  Sometime by the end of the year we'll move anything that isn't at least close to supporting draft-06 to somewhere less prominent, but not yet.